.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 3px;
}
body{
    margin: 10px;
}
.header{
  grid-column: 1 / -1;
}
.footer{
 grid-column: 1/-1;
}
.sidebar{
    grid-row: 2 /5;
}
.content1{
 grid-column: 2/-1;
 grid-row:2/2 ;
}
.content2{
 grid-column: 2/3;
 grid-row:3/4 ;
}
.content3{
 grid-column: 3/-1;
 grid-row:3/-1 ;
}

.container > div:nth-child(1n) {
    background-color: #96ceb4;	
  }
  
  .container > div:nth-child(3n) {
    background-color: #88d8b0;
  }
  
  .container > div:nth-child(2n) {
        background-color: #ff6f69;
  }
  
  .container > div:nth-child(4n) {
        background-color: #ffcc5c;
  }
  .container > div:nth-child(5n) {
        background-color: #ffcc5c;
  }
  .container > div:nth-child(6n) {
        background-color: #ffcc5c;
  }
  
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}